header.d-print-none
    nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
        - ruta=direccion || "..";
        a(href=`${ruta}/home`)
            img(src=`${ruta}/views/imagenes/logoMatanza.png` alt="logo" width="100")
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")
        .collapse.navbar-collapse#navbarTogglerDemo01
            ul.navbar-nav.justify-content-center.nav-tabs.mx-3
                each pagina in paginas
                    - var estilo;
                    - pestana=titulo.indexOf(pagina.toLowerCase());
                    if pestana!=-1
                        - estilo="active text-dark";
                    else
                        - estilo="text-light";
                    li.nav-item
                        a(class=`nav-link ${estilo}` href=`${ruta}/${pagina.toLowerCase()}/consultar`) #{pagina}
            a(href=`${ruta}/usuarios/modificardatos?dni=${datos['dni']}` class="d-sm-block  btn btn-sm btn-info ml-auto my-2  mr-2")
                i(class="fas fa-user fa-sm")
                |  Editar
            a(href=`${ruta}/logout` class="d-sm-block btn btn-sm btn-primary  mr-2")
                i(class="fas fa-sign-out-alt fa-sm")
                |  Cerrar Sesión

