extends ./components/template
block titulo
    - titulo=`${accion} Celulares`;
block body
    include ./components/header
    .container.my-5
        h1.text-center Celular
        form(action="procesar" method="POST")
            .form-group
                 label(for="celular") Número de Celular
                 input(type="number" name="celular" class="form-control" value=`${info['celular']}` placeholder="Ingrese el número de celular")
            .form-group
                label(for="compania") Compañia
                select(name="compania" class="form-control")
                    option(value="0" selected=!info disabled) Seleccione la compañia
                    each compania in companias
                        if compania['id']==info['compania']
                            - selected=true
                        else
                            - selected=false
                        option(value=`${compania['id']}` selected=selected)= compania['compañia']
            if editar
                .form-group
                    label(for="estado") Estado
                    select(name="estado" class="form-control")
                        - estados=['Fuera de servicio','Disponible','En viaje'];
                        each estado, index in estados
                            if index == info['estado']
                                - selected=true
                            else
                                - selected=false
                            option(value=`${index}` selected=selected)= estado
                input(type="hidden" name="editar" value=`${info['patente']}`)

            input(type="hidden" name="editar" value=`${info['patente']}`)
        button(type="submit" name="enviarCelular" class="btn btn-success") #{accion} Celular