extends ./components/template
block titulo
    - titulo=`${accion} Celulares`;
block body
    include ./components/header
    .container.my-5
        h1.text-center Celular
        form(action="procesar" method="POST")
            .form-group
                 label(for="celular") Número de Celular
                 input(type="number" name="celular" class="form-control" value=`${info['numero']}` placeholder="Ingrese el número de celular")
            .form-group
                label(for="compania") Compañia
                select(name="compania" class="form-control")
                    option(value="0" selected=!info disabled) Seleccione la compañia
                    - companias= ['Claro','Movistar','Personal']
                    each compania in companias
                        if compania==info['compañia']
                            - selected=true
                        else
                            - selected=false
                        option(value=`${compania}` selected=selected)= compania
            if editar
                .form-group
                    label(for="estado") Estado
                    select(name="estado" class="form-control")
                        - estados=['Seleccione el estado del vehiculo','Disponible','No disponible'];
                        each estado, index in estados
                            if index==0
                                - disabled=true;
                            else
                                - disabled=false;
                            if index == info['estado']
                                - selected=true
                            else
                                - selected=false
                            option(value=`${index}` disabled=disabled selected=selected)= estado

                input(type="hidden" name="id" value=`${info['id']}`)
            button(type="submit" name="enviarCelular" class="btn btn-success") #{accion} Celular