extends ./components/template
block titulo
    - titulo="Detalle del Viaje";
block body
    include ./components/header
    .container.my-5
        h2.mb-3 Detalle del Viaje
        .row
            .col-md-6
                p
                    strong Código:
                    |  #{info['viaje'][0]['codigo']}
                p
                    strong Fecha:
                    |  #{info['viaje'][0]['fecha']}
                h3.mb-3 Origen
                p
                    strong Dirección:
                    |  #{info['viaje'][0]['direccion_origen']}
                p
                    strong Localidad:
                    |  #{info['viaje'][0]['localidad_origen']}
                p
                    strong Provincia:
                    |  #{info['viaje'][0]['provincia_origen']}
                p
                    strong Pais:
                    |  #{info['viaje'][0]['pais_origen']}
                h3.mb-3 Destino
                p
                    strong Dirección:
                    |  #{info['viaje'][0]['direccion_destino']}
                p
                    strong Localidad:
                    |  #{info['viaje'][0]['localidad_destino']}
                p
                    strong Provincia:
                    |  #{info['viaje'][0]['provincia_destino']}
                p
                    strong Pais:
                    |  #{info['viaje'][0]['pais_destino']}
                h3.mb-3 Viaje
                p
                    strong Estado:
                    |  #{info['viaje'][0]['estado']}
                p
                    strong Peso:
                    |  #{info['viaje'][0]['peso']}
                p
                    strong ETA:
                    |  #{info['viaje'][0]['eta']}
                h3.mb-3 Costeo
                p
                    strong Km estimados:
                    |  #{info['viaje'][0]['km_estimado']}
                p
                    strong Km totales:
                    |  #{info['viaje'][0]['km_totales']}
                p
                    strong Desviaciones:
                    |  #{info['viaje'][0]['desviaciones']}
                p
                    strong Combustible estimado:
                    |  #{info['viaje'][0]['combustible_previsto']}
                p
                    strong Combustible total:
                    |  #{info['viaje'][0]['combustible_total']}
                h3.mb-r Equipos
                p
                    strong Patente Vehículo:
                    |  #{info['viaje'][0]['patente_vehiculo']}
                p
                    strong Marca y modelo del vehículo:
                    |  #{info['marca'][0]['nombre']} #{info['modelo'][0]['descripcion']}
                p
                    strong Patente de Arrastre:
                    |  #{info['viaje'][0]['patente_arrastre']}
                p
                    strong Tipo de Arrastre:
                    |  #{info['tipo_arrastre'][0]['nombre']}
                h3.mb-r Chofer a Cargo
                p
                    strong DNI:
                    |  #{info['viaje'][0]['dni_chofer']}
                p
                    strong Nombre del chofer:
                    |  #{info['chofer'][0]['nombre']} #{info['chofer'][0]['apellido']}
        a(href='consultar') Regresar