extends ./components/template
block titulo
    - titulo="Informe";
block body
    include ./components/header
    .container.my-5.mx-auto
        .d-none.d-print-flex
            img(src=`../views/imagenes/logoMatanza.png` width=100)
            span.ml-auto Fecha: #{info['fecha_emision']}
        .d-sm-flex.align-items-center.justify-content-between.my-4
            h1(class="h3 mb-0 text-gray-800") Reporte de #{titulo_listado}
            .d-print-none.mt-2
                button.d-none.d-sm-inline-block.btn.btn-sm.btn-info.shadow-sm.mr-2(onclick="window.print();")
                    i(class="fas fa-print fa-sm text-white-50")
                    |  Imprimir
                a(href=`generar?numero=${info['numero']}` class="d-sm-inline-block  btn btn-sm btn-primary shadow-sm ")
                    i(class="fas fa-download fa-sm text-white-50")
                    |  Generar Reporte
        .row.mt-5
            .col-md-8
                table.table.table-striped
                    tbody
                        each dato ,index in info
                            tr
                                th(scope="row")= index.charAt(0).toUpperCase()+index.substr(1).replace("_"," ")
                                if !dato
                                    td sin especificar
                                else
                                    td= dato
            if qr
                .col-md-4
                    img(src=`../views/qr/proforma_${qr}.png` width=200)

