extends ./components/template
block titulo
    - titulo=`Lista de ${titulo_listado}`;
block body
    include ./components/header
    .container.my-5
        h2 Listado de #{titulo_listado}
        if listado.length>0
            .table-responsive
                table.table
                    tr
                        each th in cabeceras
                            th= th
                        th Acciones
                    each datos in listado
                        tr
                            each dato in datos
                                td= dato
                            td
                                .d-flex
                                    a(href=`editar?${datoPrincipal.toLowerCase()}=${datos[datoPrincipal]}` class="btn btn-primary") Editar
                                    a(href=`eliminar?${datoPrincipal.toLowerCase()}=${datos[datoPrincipal]}` class="btn btn-danger ml-2") Eliminar
        else
            h3 No hay información disponible
        a(href=`nuevo` class="btn btn-success btn-block") Agregar #{sector}
        small= mensaje