extends ./components/template
block titulo
    - titulo=`Lista de ${titulo_listado}`;
block body
    include ./components/header
    .container.my-5
        h2 Listado de #{titulo_listado}
        if listado.length>0
            .table-responsive
                table.table
                    tr
                        each th in cabeceras
                            th= th
                        th.text-center Acciones
                    each datos in listado
                        tr
                            each dato in datos
                                td= dato
                            td
                                .d-flex.text-center.aling-middle
                                    a(href=`detalle?${datoPrincipal.toLowerCase()}=${datos[datoPrincipal]}` class="btn btn-success mr-2") Ver
                                    //button(type='button' class='btn btn-success mr-2' data-toggle='modal' data-target='#exampleModal' data-codigo=`${datos[datoPrincipal]}`) Ver
                                    a(href=`editar?${datoPrincipal.toLowerCase()}=${datos[datoPrincipal]}` class="btn btn-primary mr-2") Editar
                                    a(href=`eliminar?${datoPrincipal.toLowerCase()}=${datos[datoPrincipal]}` class="btn btn-danger") Eliminar
        else
            h3(class="alert alert-info") No hay información disponible
            if()
        a(href=`nuevo` class="btn btn-success btn-block") Agregar #{sector}
        small= mensaje