extends ./components/template
block titulo
    - titulo= "Lista de Clientes";
block body
    include ./components/header
    .container.my-5
        h2 Listado de Cliente
        if listado.length>0
            .table-responsive
                table.table
                    tr
                        each th in cabeceras
                            th= th
                        th.text-center Acciones
                    each datos in listado
                        tr
                            each dato in datos
                                td= dato
                            td
                                .d-flex.text-center.aling-middle
                                    a(href=`editar?${datoPrincipal.toLowerCase()}=${datos[datoPrincipal]}` class="btn btn-primary") Editar
                                    a(href=`eliminar?${datoPrincipal.toLowerCase()}=${datos[datoPrincipal]}` class="btn btn-danger ml-2") Eliminar
        else
            h3(class="alert alert-info") No hay información disponible
        small= mensaje