extends ./components/template
block titulo
    - titulo=`Lista de ${titulo_listado}`;
block body
    include ./components/header
    .container-fluid.my-2
        h2 Listado de #{titulo_listado}
        // listado
        if listado.length>0
            .table-responsive
                table.table
                    tr
                        each th in cabeceras
                            th= th
                        th.text-center Acciones
                    each datos in listado
                        tr.datos
                            each dato in datos
                                if !dato
                                    td Desconocido
                                else
                                    td= dato
                            td.text-center.align-middle
                                .d-flex.justify-content-center
                                    a(href=`detalle?${datoPrincipal.toLowerCase()}=${datos[datoPrincipal]}` class="btn btn-success mr-2") Ver
                                    if botones
                                        a(href=`editar?${datoPrincipal.toLowerCase()}=${datos[datoPrincipal]}` class="btn btn-primary") Editar
                                        a(href=`eliminar?${datoPrincipal.toLowerCase()}=${datos[datoPrincipal]}` class="btn btn-danger ml-2") Eliminar
        else
            h3 No hay información disponible
    .container
        if botonNuevo
            a(href=`nuevo` class="btn btn-success btn-block") Agregar #{sector}
        small= mensaje