page(orientation="landscape" backtop="30mm" footer="page")
    page_header
        .d-flex
            img(src=`views/imagenes/logoMatanza.png` width=100)
            span(style="margin-left:500px;") Fecha: #{fecha}
    h2 Listado de #{titulo_listado}
    .table-responsive
        table.table(style="font-size:11px")
            tr
                each th in cabeceras
                    th.text-center.align-middle(style={padding:'5px',background:'#2171cc',color:'white'})= th
            each datos in listado
                tr
                    each dato,index in datos
                        if !dato
                            td.text-center.align-middle(style={padding:'5px'}) Desconocido
                        else if index=="estado"
                            td.text-center.align-middle(style={padding:'5px'})=estados[dato]
                        else
                            td.text-center.align-middle(style={padding:'5px'})= dato