extends ./components/template
block titulo
    - titulo="Nueva proforma";
block body
    include ./components/header
    h1.text-center.mt-3 Proforma
    .container.my-5
        form.needs-validation(novalidate action="procesar" method="POST")
            .row
                if info
                    .form-group.col-md-6
                        label(for="numero") Número
                        input.form-control(type="number" readonly value=`${info['numero']}` name="proforma_numero")
                .form-group.col-md-6
                    label(for="fecha") Fecha
                    input.form-control(type="date" value=`${info['fecha_emision']}` required name="proforma_fecha")
                    .invalid-feedback Por favor ingrese la fecha
            h3 Datos del cliente
            .row
                .form-group.col-md-6
                    label(for="dni_cliente") CUIT de cliente
                    if !editar
                        select.form-control.custom-select#clientes(name="proforma_cuit_cliente" required)
                            option(value="" selected disabled) Seleccione un cliente
                            each cliente in clientes
                                option(value=`${cliente['CUIT']}`) #{cliente['CUIT']} #{cliente['denominacion']}
                        .invalid-feedback Por favor seleccione al cliente
                        small.text-dark Si no encuentra al cliente deseado, puede agregar uno nuevo
                        a(href="../cliente/nuevo" type="button" class= "btn btn-outline-primary mt-2 btn-block") Agregar cliente
                    else
                        input.form-control#clientes(type="number" readonly value=`${info['cuit_cliente']}` name="proforma_cuit_cliente")
                .form-group.col-md-6
                    input(type="hidden" id="url" value=url)
                    .d-flex.flex-column
                        small CUIT:
                            span#cuit
                        small Denominación:
                            span#denominacion
                        small Dirección:
                            span#direccion
                        small Teléfono:
                            span#telefono
                        small Email:
                            span#email
                        small Contacto 1:
                            span#contacto1
                        small Contacto 2:
                            span#contacto2
            include components/viaje_template
            |
            hr
            |
            h3 Datos de costeo
            .table-responsive
                table.table
                    thead
                        tr
                            th Concepto
                            th Estimado
                            th Real
                    tbody
                        tr
                            th(scope="row") Kilometros
                            td
                                input.form-control.w-50(type="number" name="km_previsto"  value=`${info['km_previsto'] || 0}`)
                            td
                                input.form-control.w-50(type="number" name="total_km" value=`${info['km_totales'] || 0}` name="total_km" readonly)
                        tr
                            th(scope="row") Combustible
                            td
                                input.form-control.w-50.estimados(type="number" value=`${info['combustible_previsto'] || 0}` name="combustible_previsto")
                            td
                                input.form-control.w-50.reales(type="number" value=`${info['combustible_total'] || 0}` name="total_combustible" readonly)
                        tr
                            th(scope="row") ETA
                            td
                                input.form-control.w-50#eta_costeo(type="date" readonly value=`${info['ETA']}`)
                            td
                                input.form-control.w-50(type="number" name="total_eta" value=`${info['eta_real']}`)
                        tr
                            th(scope="row") Viáticos
                            td
                                input.form-control.w-50.estimados(type="number" name="viaticos_previsto" value=`${info['viaticos_previsto'] || 0}`)
                            td
                                input.form-control.w-50.reales(type="number" name="total_viaticos" value=`${info['viaticos_real']}` readonly)
                        tr
                            th(scope="row") Peajes
                            td
                                input.form-control.w-50.estimados(type="number" name="peajes_previsto" value=`${info['peajes_previsto'] || 0}`)
                            td
                                input.form-control.w-50.reales(type="number" name="total_peajes" value=`${info['peajes_total'] || 0}` readonly)
                        tr
                            th(scope="row") Pesajes
                            td
                                input.form-control.w-50(type="number" name="pesajes_previsto" value=`${info['pesajes_previsto'] || 0}`)
                            td
                                input.form-control.w-50(type="number" name="total_pesajes" value=`${info['pesajes_total']}` readonly)
                        tr
                            th(scope="row") Extras
                            td
                                input.form-control.w-50.estimados(type="number" name="extras_previsto" value=`${info['extras_previsto'] || 0}`)
                            td
                                input.form-control.w-50.reales(type="number" name="total_extras" value=`${info['extras_total']}` readonly)
                        tr
                            th(scope="row") Hazard
                            td
                                input.form-control.w-50.estimados(type="number" readonly name="hazard_previsto" value=`${info['hazard_previsto'] || 0}` id="campo_hazard")
                            td
                                input.form-control.w-50.reales(type="number" name="total_hazard" value=`${info['hazard_total']}` readonly)
                        tr
                            th(scope="row") Reefer
                            td
                                input.form-control.w-50.estimados(type="number" readonly name="reefer_previsto" value=`${info['reefer_previsto'] || 0}` id="campo_reefer")
                            td
                                input.form-control.w-50.reales(type="number" name="total_reefer" value=`${info['reefer_total']}` readonly)
                        tr
                            th(scope="row") Fee
                            td
                                input.form-control.w-50.estimados(type="number" name="proforma_fee" value=`${info['fee_previsto'] || 0}`)
                            td
                                input.form-control.w-50.reales(type="number" name="total_fee" value=`${info['fee_total']}` readonly)
                        tr.table-info
                            th(scope="row") Total
                            td
                                input.form-control.w-50#totalEstimado(type="number" name="proforma_total_estimado" value=`${info['total_estimado'] || 0}` readonly)
                            td
                                input.form-control.w-50(type="number" name="total_real" value=`${info['total_real'] || 0}` readonly)
            include components/viaje_equipo
            if editar
                input(type="hidden" name="proforma_numero" id="editar" value=`${info['numero']}`)
            button.btn.btn-success.mr-2(type="submit") Guardar
            button.btn.btn-outline-dark.m-1(type="reset") Reestablecer
block script
    script(src="../views/js/formulario.js")
    script(src="../views/js/proforma.js")