extends ./components/template
block titulo
    - titulo="Proforma";
block body
    include ./components/header
    h1.text-center.mt-3 Proforma
    .container.my-5
        form(action="procesar" method="POST")
            .row
                if info
                    .form-group.col-md-6
                        label(for="numero") Número
                        input.form-control(type="number" readonly value=`${info['numero']}` name="proforma_numero")
                .form-group.col-md-6
                    label(for="fecha") Fecha
                    input.form-control(type="date" value=`${info['fecha_emision']}` name="proforma_fecha")
            h3 Datos del cliente
            .row
                .form-group.col-md-6
                    label(for="dni_cliente") CUIT de cliente
                    input.form-control(type="number" value=`${info['cuit_cliente']}` name="proforma_cuit_cliente")
                    if !editar
                        button.btn.btn-primary.mt-2(type="button") Buscar cliente
                        a(href="../cliente/nuevo" type="button" class= "btn btn-outline-primary mt-2") Agregar cliente
                .form-group.col-md-6
                    .d-flex.flex-column
                        small CUIT: 12345678901
                    	small Denominación: Pirulo S.A.
                    	small Dirección: Florencio Varela 1835 - San Justo
                    	small Teléfono: 1135857412
                    	small Email: pirulo@hotmail.com
                    	small Contacto 1:-
                    	small Contacto 2: -
            include components/viaje_template
            |
            hr
            |
            h3 Datos de costeo
            .table-responsive
                table.table
                    thead
                        tr
                            th Concepto
                            th Estimado
                            th Real
                    tbody
                        tr
                            th(scope="row") Kilometros
                            td
                                input(type="number" value=`${info['km_estimados']}` name="km_estimados")
                            td
                                input(type="number" value=`${info['km_totales']}` name="total_km" readonly)
                        tr
                            th(scope="row") Combustible
                            td
                                input(type="number" value=`${info['combustible_previsto']}` name="combustible_previsto")
                            td
                                input(type="number" value=`${info['combustible_total']}` name="total_combustible" readonly)
                        tr
                            th(scope="row") ETA
                            td
                                input(type="number" value=`${info['ETA']}`)
                            td
                                input(type="number" name="total_eta" value=`${info['eta_real']}` readonly)
                        tr
                            th(scope="row") Viáticos
                            td
                                input(type="number" value=`${info['viaticos_previsto']}`)
                            td
                                input(type="number" value=`${info['viaticos_real']}` readonly)
                        tr
                            th(scope="row") Peajes y Pesajes
                            td
                                input(type="number")
                            td
                                input(type="number" readonly)
                        tr
                            th(scope="row") Extras
                            td
                                input(type="number" value=`${info['extras_previsto']}`)
                            td
                                input(type="number" value=`${info['extras_real']}` readonly)
                        tr
                            th(scope="row") Hazard
                            td
                                input(type="number" name="hazard_previsto" value=`${info['hazard_previsto'] || 0}` id="campo_hazard")
                            td
                                input(type="number" value=`${info['hazard_total']}` readonly)
                        tr
                            th(scope="row") Reefer
                            td
                                input(type="number" name="reefer_previsto" value=`${info['reefer_previsto'] || 0}` id="campo_reefer")
                            td
                                input(type="number" name="total_reefer" value=`${info['reefer_total']}` readonly)
                        tr
                            th(scope="row") Fee
                            td
                                input(type="number" name="proforma_fee" value=`${info['fee_previsto']}`)
                            td
                                input(type="number" name="total_fee" value=`${info['fee_total']}` readonly)
                        tr.table-info
                            th(scope="row") Total
                            td
                                input(type="number" value=`${info['total_previsto']}` readonly)
                            td
                                input(type="number" value=`${info['total_real']}` name="total_real" readonly)
            include components/viaje_equipo
            if editar
                input(type="hidden" name="proforma_numero" value=`${info['numero']}`)
            button.btn.btn-success.m-1(type="submit" ) Guardar
            button.btn.btn-outline-dark.m-1(type="reset") Reestablecer
block script
    script(src="../views/js/proforma.js")