extends ./components/template
block titulo
    - titulo=`Asignar Rol`;
block body
    include ./components/header
    .container.my-5
        h1.text-center Asignar Rol de Usuario
        form(action=`procesar?dni=${dni}` method="post")
            .form-group
                select.form-control.col-md-6(name="rol")
                    if rol==0
                        - selected=true;
                    else
                        - selected=false;
                    option(value="0" selected=selected disabled) Asignar Rol
                    each valor in roles
                        if valor['codigo']==rol
                            - selected=true;
                        else
                            - selected=false;
                        option(value=`${valor['codigo']}` selected=selected)= valor['descripcion']
            button(type="submit" class="btn btn-success") Asignar Rol