extends ./components/template
block titulo
    - titulo=`${accion} Service`;
block body
    include ./components/header
    .container.my-5
        h1.text-center Service
        form(action="procesar" method="POST")
             .form-group
                 label(for="id") Número de id
                 input(type="text" name="id" class="form-control" value=`${info['id']}` placeholder="Ingrese su id")
             .form-group
                 label(for="patente") Patente
                 input(type="text" name="patente" class="form-control" value=`${info['patente']}` placeholder="Ingrese su patente")
             .form-group
                 label(for="fecha") Fecha
                 input(type="date" name="fecha" class="form-control" value=`${info['Fecha']}` placeholder="Ingrese su fecha")
             button(type="submit" name="service" class="btn btn-success") #{accion} Service
