extends ./components/template
block titulo
    - titulo="Nuevo viaje";
block body
    include ./components/header
    h1.text-center.mt-3 Proforma
    .container.my-5
        form.needs-validation(novalidate action="procesar" method="POST")
            .row
                if info
                    .form-group.col-md-6
                        label(for="numero") Número
                        input.form-control(type="number" readonly value=`${info['numero']}` name="numero")
                .form-group.col-md-6
                    label(for="fecha") Fecha
                    input.form-control(type="date" value=`${info['fecha_emision']}` required name="fecha_emision")
                    .invalid-feedback Por favor ingrese la fecha
            h3 Datos del cliente
            .row
                .form-group.col-md-6
                    label(for="dni_cliente") CUIT de cliente
                    if !editar
                        select.form-control.custom-select#clientes(name="proforma_cuit_cliente" required)
                            option(value="" selected disabled) Seleccione un cliente
                            each cliente in clientes
                                option(value=`${cliente['CUIT']}`) #{cliente['CUIT']} #{cliente['denominacion']}
                        .invalid-feedback Por favor seleccione al cliente
                        small.text-dark Si no encuentra al cliente deseado, puede agregar uno nuevo
                        a(href="../cliente/nuevo" type="button" class= "btn btn-outline-primary mt-2 btn-block") Agregar cliente
                    else
                        input.form-control#clientes(type="number" readonly value=`${info['cuit_cliente']}` name="cuit_cliente")
                .form-group.col-md-6
                    input(type="hidden" id="url" value=url)
                    .d-flex.flex-column
                        small CUIT:
                            span#cuit
                        small Denominación:
                            span#denominacion
                        small Dirección:
                            span#direccion
                        small Teléfono:
                            span#telefono
                        small Email:
                            span#email
                        small Contacto 1:
                            span#contacto1
                        small Contacto 2:
                            span#contacto2

                //aqui en viaje template
            h1.text-center #{accion} Viaje
            .row
                .form-group.col-md-6
                    label(for="fecha") Fecha
                    input(type="date" name="fecha_viaje" class="form-control" required value=`${info['fecha_viaje']}` placeholder="Ingrese la fecha del viaje")
                    .invalid-feedback Por favor especifique la fecha de partida
                .form-group.col-md-6
                    label(for="eta") ETA:
                        small (Fecha Estimada de Arribo)
                    input#eta(type="date" name="ETA" class="form-control" required value=`${info['ETA']}` placeholder="dd/mm/aaaa")
                    .invalid-feedback Por favor especifique la fecha estimada de llegada
            |
            hr
            |
            h2 Origen
            .row
                .form-group.col-md-6
                    label(for="direccion_origen") Dirección
                    input(type="text" name="direccion_origen" required class="form-control" value=`${info['direccion_origen']}` placeholder="Ingrese la dirección del origen")
                    .invalid-feedback Por favor ingrese una dirección
                .form-group.col-md-6
                    label(for="localidad_origen") Localidad
                    input(type="text" name="localidad_origen" required class="form-control" value=`${info['localidad_origen']}` placeholder="Ingrese la localidad del origen")
                    .invalid-feedback Por favor ingrese una localidad
            .row
                .form-group.col-md-6
                    label(for="provincia_origen") Provincia
                    input(type="text" name="provincia_origen" required class="form-control" value=`${info['provincia_origen']}` placeholder="Ingrese la provincia del origen")
                    .invalid-feedback Por favor ingrese una provincia
                .form-group.col-md-6
                    label(for="pais_origen") Pais
                    input(type="text" name="pais_origen" required class="form-control" value=`${info['pais_origen']}` placeholder="Ingrese el país de origen")
                    .invalid-feedback Por favor ingrese un país
            |
            hr
            |
            h2 Destino
            .row
                .form-group.col-md-6
                    label(for="direccion_destino") Dirección
                    input(type="text" name="direccion_destino" required class="form-control" value=`${info['direccion_destino']}` placeholder="Ingrese la dirección del destino")
                    .invalid-feedback Por favor ingrese una dirección
                .form-group.col-md-6
                    label(for="localidad_destino") Localidad
                    input(type="text" name="localidad_destino" required class="form-control" value=`${info['localidad_destino']}` placeholder="Ingrese la localidad del destino")
                    .invalid-feedback Por favor ingrese una localidad
            .row
                .form-group.col-md-6
                    label(for="provincia_destino") Provincia
                    input(type="text" name="provincia_destino" required class="form-control" value=`${info['provincia_destino']}` placeholder="Ingrese la provincia del destino")
                    .invalid-feedback Por favor ingrese una provincia
                .form-group.col-md-6
                    label(for="pais_destino") Pais
                    input(type="text" name="pais_destino" required class="form-control" value=`${info['pais_destino']}` placeholder="Ingrese el país de destino")
                    .invalid-feedback Por favor ingrese un país
            |
            hr
            |
            h3 Datos de carga
            .row
                .form-group.col-md-6
                    label(for="tipo") Tipo de carga:
                    select.custom-select#tipo_carga(name="tipo_carga" required)
                        option(value="0" selected disabled) Seleccione tipo de carga
                        - tipo_cargas=['20"','40"',"CarCarrier","Granel","Jaula","Líquida"];
                        each tipo in tipo_cargas
                            if tipo == info['tipo_carga']
                                - selected=true;
                            else
                                - selected=false;
                            option(value=`${tipo}` selected=selected)= tipo
                    .invalid-feedback Por favor seleccione un tipo de carga
                .form-group.col-md-6
                    label(for="peso_neto") Peso Neto (kg):
                    input.form-control(type="number" required value=`${info['peso_neto']}` name="peso_neto")
                    .invalid-feedback Por favor ingrese el peso neto de la carga en kg.
            .row
                .form-group.col-md-6
                    label(for="hazard") Hazard:
                    select.custom-select#select_hazard(required)
                        option(value="0" selected disabled) Seleccione SI/NO
                        if info['hazard_previsto'] > 0
                            - selectedSi=true;
                            - selectedNo=false;
                        else
                            - selectedSi=false;
                            - selectedNo=true;
                        option(value="si" selected=selectedSi) Si
                        option(value="no" selected=selectedNo) No
                    .invalid-feedback Por favor seleccione si precisa Hazard
                .form-group.col-md-6
                    label(for="refeer") Reefer:
                    select.custom-select#select_reefer(required)
                        option(value="0" selected disabled) Seleccione SI/NO
                        if info['reefer_previsto'] > 0
                            - selectedSi=true;
                            - selectedNo=false;
                        else
                            - selectedSi=false;
                            - selectedNo=true;
                        option(value="si" selected=selectedSi) Si
                        option(value="no" selected=selectedNo) No
                    .invalid-feedback Por favor seleccione si precisa Reefer
            .row
                .form-group.col-md-6
                    label(for="imo_class") IMO Class:
                    select.custom-select#imoClass(name="imo_class")
                        option(value='') Seleccione un IMO Class
                        - imoClass=["Clase 1","Clase 2","Clase 3","Clase 4.1","Clase 4.2","Clase 4.3","Clase 5.1","Clase 5.2","Clase 6.1","Clase 6.2","Clase 7","Clase 8","Clase 9"];
                        each imo in imoClass
                            if imo == info['imoClass']
                                - selected=true;
                            else
                                - selected=false;
                            option(value=`${imo}` selected=selected)= imo
                .form-group.col-md-6
                    label(for="temperatura") Temperatura:
                    input.form-control(type="text"  id="temperatura" value=`${info['temperatura']}` name="temperatura" placeholder="°C")
            if editar
                |
                hr
                |
                .row
                    .form-group.col-md-6
                        label(for="desviaciones") Desviaciones
                        if info['km_totales'] - info['km_previsto'] < 0
                            - desviaciones=0;
                        else
                            - desviaciones=info['km_totales']-info['km_previsto'];
                        input.form-control(type="number" value=desviaciones name="desviaciones" readonly)
                    .form-group.col-md-6
                        label(for="desviaciones") Estado
                        select.form-control(name="estado")
                            - estados=["","No iniciado","En viaje","Finalizado"];
                            each estado, index in estados
                                if index>0
                                    if index == info['estado']
                                        - selected=true;
                                    else
                                        - selected=false;
                                    option(value=`${index}` selected=selected)= estado
            if editar
                input(type="hidden" name="viaje_codigo" value=`${info['codigo']}`)

                //el viaje equipo los datos fk
            |
            hr
            |
            h3 Datos del vehiculo
            .row
                .form-group.col-md-6
                    label(for="patente_vehiculo") Número de patente del vehículo
                    select(name="patente_vehiculo" class="form-control" required)
                        option(value="0" selected disabled) Seleccione la patente
                        each  vehiculo in vehiculos
                            if info && vehiculo['patente'] == info['patente_vehiculo']
                                - selected=true
                            else
                                - selected=false
                            if vehiculo['estado'] != 2
                                option(value=`${vehiculo['patente']}` selected=selected) #{vehiculo['patente']} - #{vehiculo['nombre']} - #{vehiculo['descripcion']}
                    .invalid-feedback Por favor seleccione el vehículo
            hr
            |
            h3 Datos del Arrastre
            .row
                .form-group.col-md-6
                    label(for="patente_arrastre") Número de patente del arrastre
                    select(name="patente_arrastre" class="form-control" required)
                        option(value="0" selected disabled) Seleccione la patente
                        each arrastre in arrastres
                            if info && arrastre['patente'] == info['patente_arrastre']
                                - selected=true
                            else
                                - selected=false
                            if arrastre['estado'] != 2
                                option(value=`${arrastre['patente']}` selected=selected) #{arrastre['patente']} - #{arrastre['nombre']}
                    .invalid-feedback Por favor seleccione el arrastre
            |
            hr
            |
            h3 Datos del chofer
            .row
                .form-group.col-md-6
                    label(for="nombre_chofer") Nombre y apellido
                    select(name="dni_chofer" class="custom-select" required)
                        option(value="0" selected disabled) Seleccione el nombre y apellido
                        each chofer in choferes
                            if info && chofer['dni'] == info['dni_chofer']
                                - selected=true
                            else
                                - selected=false
                            if chofer['estado'] != 2
                                option(value=`${chofer['dni']}` selected=selected) #{chofer['nombre']} #{chofer['apellido']}
                    .invalid-feedback Por favor seleccione al chofer
            |
            hr
            |
            h3 Celular asignado
            .row
                .form-group.col-md-6
                    label(for="celular") Número de celular
                    select(name="id_celular" class="custom-select" required)
                        option(selected disabled value="0") Seleccione el número de celular
                        each celular in celulares
                            if info && celular['id'] == info['id_celular']
                                - selected=true
                            else
                                - selected=false
                            if celular['estado'] != 2
                                option(value=`${celular['id']}` selected=selected) #{celular['numero']}
                    .invalid-feedback Por favor seleccione el celular a asignar al chofer
            |
            hr
            |
            h3 Datos de costeo
            .table-responsive
                table.table
                    thead
                        tr
                            th Concepto
                            th Estimado
                            th Real
                    tbody
                        tr
                            th(scope="row") Kilometros
                            td
                                input.form-control.w-50(type="number" name="km_previsto"  value=`${info['km_previsto'] || 0}`)
                            td
                                input.form-control.w-50(type="number" name="total_km" value=`${info['km_totales'] || 0}` name="total_km" readonly)
                        tr
                            th(scope="row") Combustible
                            td
                                input.form-control.w-50.estimados(type="number" value=`${info['combustible_previsto'] || 0}` name="combustible_previsto")
                            td
                                input.form-control.w-50.reales(type="number" value=`${info['combustible_total'] || 0}` name="total_combustible" readonly)
                        tr
                            th(scope="row") ETA
                            td
                                input.form-control.w-50#eta_costeo(type="date" readonly value=`${info['ETA']}`)
                            td
                                input.form-control.w-50(type="number" name="total_eta" value=`${info['eta_real']}`)
                        tr
                            th(scope="row") Viáticos
                            td
                                input.form-control.w-50.estimados(type="number" name="viaticos_previsto" value=`${info['viaticos_previsto'] || 0}`)
                            td
                                input.form-control.w-50.reales(type="number" name="total_viaticos" value=`${info['viaticos_real']}` readonly)
                        tr
                            th(scope="row") Peajes
                            td
                                input.form-control.w-50.estimados(type="number" name="peajes_previsto" value=`${info['peajes_previsto'] || 0}`)
                            td
                                input.form-control.w-50.reales(type="number" name="total_peajes" value=`${info['peajes_total'] || 0}` readonly)
                        tr
                            th(scope="row") Pesajes
                            td
                                input.form-control.w-50(type="number" name="pesajes_previsto" value=`${info['pesajes_previsto'] || 0}`)
                            td
                                input.form-control.w-50(type="number" name="total_pesajes" value=`${info['pesajes_total']}` readonly)
                        tr
                            th(scope="row") Extras
                            td
                                input.form-control.w-50.estimados(type="number" name="extras_previsto" value=`${info['extras_previsto'] || 0}`)
                            td
                                input.form-control.w-50.reales(type="number" name="total_extras" value=`${info['extras_total']}` readonly)
                        tr
                            th(scope="row") Hazard
                            td
                                input.form-control.w-50.estimados(type="number" readonly name="hazard_previsto" value=`${info['hazard_previsto'] || 0}` id="campo_hazard")
                            td
                                input.form-control.w-50.reales(type="number" name="total_hazard" value=`${info['hazard_total']}` readonly)
                        tr
                            th(scope="row") Reefer
                            td
                                input.form-control.w-50.estimados(type="number" readonly name="reefer_previsto" value=`${info['reefer_previsto'] || 0}` id="campo_reefer")
                            td
                                input.form-control.w-50.reales(type="number" name="total_reefer" value=`${info['reefer_total']}` readonly)
                        tr
                            th(scope="row") Fee
                            td
                                input.form-control.w-50.estimados(type="number" name="fee_previsto" value=`${info['fee_previsto'] || 0}`)
                            td
                                input.form-control.w-50.reales(type="number" name="total_fee" value=`${info['fee_total']}` readonly)
                        tr.table-info
                            th(scope="row") Total
                            td
                                input.form-control.w-50#totalEstimado(type="number" name="estimado_total" value=`${info['estimado_total'] || 0}` readonly)
                            td
                                input.form-control.w-50(type="number" name="total_real" value=`${info['total_real'] || 0}` readonly)

            if editar
                input(type="hidden" name="numero" id="editar" value=`${info['numero']}`)
            button.btn.btn-success.mr-2(type="submit") Guardar
            button.btn.btn-outline-dark.m-1(type="reset") Reestablecer
block script
    script(src="../views/js/formulario.js")
    script(src="../views/js/proforma.js")
